<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/products/productDetail.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <!--! Cerrar buscador -->
      <div id="cover-ctn-search"></div>
      <h1>Hola Mundo</h1>
    </main>
    <%- include('../partials/footer.ejs') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
