<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!--! CSS Products -->
    <link rel="stylesheet" href="/css/products/productCart.css" />
  </head>
  <body class="todo-carro">
    <%- include('../partials/header.ejs') %>

    <main class="contenedor-main-carrito">
      <h1 class="titulo-pagina-carrito" style="pointer-events: none">
        Carrito
      </h1>
      <div class="cart-section-flex">
        <section>
          <!-- producto -->

          <!-- Checkout -->
          <article class="checkout-total">
            <form action="form-checkout">
              <p class="text-total" style="pointer-events: none">Total: $200</p>
              <button name="checkout" value="" style="cursor: pointer">
                Página de pago
              </button>
            </form>
          </article>
        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
