<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!--! CSS Products -->
    <link rel="stylesheet" href="/css/products/productCart.css" />
  </head>
  <body class="todo-carro">

    <%- include('../partials/header.ejs') %>

  <main class="contenedor-main-carrito">
    <h1 class="titulo-pagina-carrito">Carrito</h1>
<div class="cart-section-flex">    
        <section>
          <!-- producto1 -->
          <article class="product-container">
          
            <div class="image-product">
              <img
                class="capuccino"
                src="../../img/product-coffee/2.png"
                alt=""
              />
              
            </div>
          
            <div class="form-cart">
              <form action="">
                <h3 class="product-name">Capuccino</h3>
                 <div class="tamaño-vaso">
                  <p>Tamaño</p>
                  <select name="tamaño" id="" class="tamaño-cafe">
                    <option value="Small">Small</option>
                    <option value="Big">Big</option>
                  </select>
                </div>
                <div class="contenedor-unidades-cantidad">
                  <p class="unidades-texto">Unidades</p>
                  <div class="contador-unidades">
                    <button>-</button>
                    <input
                      type="number"
                      class="cantidad"
                      name="cantidad-producto" 
                      value="1"
                      readonly
                    />
                    <button>+</button>
                  </div>
                </div>
                <!-- Subtotal -->
            <div class="subtotal-price">
              <p>Subtotal: $1.000</p>
            </div>
            <div class="item-remove">
              <a href="">X</a>
            </div>

              </form>
            </div>
           
        </article>
        <!-- producto2 -->
        <article class="product-container">
          
          <div class="image-product">
            <img
              class="capuccino"
              src="../../img/product-coffee/3.png"
              alt=""
            />
            
          </div>
        
          <div class="form-cart">
            <form action="">
              <h3 class="product-name">Capuccino</h3>
              <div class="tamaño-vaso">
                <p>Tamaño</p>
                <select name="tamaño" id="" class="tamaño-cafe">
                  <option value="Small">Small</option>
                  <option value="Big">Big</option>
                </select>
              </div>
              <div class="contenedor-unidades-cantidad">
                <p class="unidades-texto">Unidades</p>
                <div class="contador-unidades">
                  <button>-</button>
                  <input
                    type="number"
                    class="cantidad"
                    name="cantidad-producto" 
                    value="1"
                    readonly
                  />
                  <button>+</button>
                </div>
              </div>
              <!-- Subtotal -->
          <div class="subtotal-price">
            <p>Subtotal: $1.000</p>
          </div>
          <div class="item-remove">
            <a href="">X</a>
          </div>

            </form>
          </div>
         
      </article>
      <!-- producto3 -->
      <article class="product-container">
          
        <div class="image-product">
          <img
            class="capuccino"
            src="../../img/product-coffee/4.png"
            alt=""
          />
          
        </div>
      
        <div class="form-cart">
          <form action="">
            <h3 class="product-name">Capuccino</h3>
            <div class="tamaño-vaso">
              <p>Tamaño</p>
              <select name="tamaño" id="" class="tamaño-cafe">
                <option value="Small">Small</option>
                <option value="Big">Big</option>
              </select>
            </div>
            <div class="contenedor-unidades-cantidad">
              <p class="unidades-texto">Unidades</p>
              <div class="contador-unidades">
                <button>-</button>
                <input
                  type="number"
                  class="cantidad"
                  name="cantidad-producto" 
                  value="1"
                  readonly
                />
                <button>+</button>
              </div>
            </div>
            <!-- Subtotal -->
        <div class="subtotal-price">
          <p>Subtotal: $1.000</p>
        </div>
        <div class="item-remove">
          <a href="">X</a>
        </div>

          </form>
        </div>
       
    </article>
      <!-- Checkout -->
        <article class="checkout-total">
          <form action="form-checkout">
            <p class="text-total">Total: $1000</p>
            <button name="checkout" value="">Página de pago</button>
          </form>
        </article>
        </section>
      </div>
      </main>

    </main>
    <%- include('../partials/footer') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
