<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <!--! CSS Products -->
    <link rel="stylesheet" href="/css/products/productCart.css" />
  </head>
  <body>

    <%- include('../partials/header.ejs') %>

  <main class="contenedor-main-carrito">
    <h1 class="titulo-pagina-carrito">Carrito</h1>
<div class="cart-section-flex">    
        <section>
          <article class="product-container">
          
            <div class="imagen-producto">
              <img
                class="capuccino"
                src="../../img/product-coffee/2.png"
                alt=""
              />
            </div>
          
            <div class="form-cart">
              <form action="">
                <h3>Capuccino</h3>
                <div>
                  <p class="price">$1.000</p>
                </div>
                <div class="tamaño-vaso">
                  <p>Tamaño</p>
                  <select name="tamaño" id="" class="tamaño-cafe">
                    <option value="Small">Small</option>
                    <option value="Big">Big</option>
                  </select>
                </div>
                <div class="cant-unidades">
                  <p class="unidades">Unidades</p>
                  <div class="cantidad-unidades">
                    <button>-</button>
                    <input
                      type="number"
                      class="cantidad"
                      name="cantidad-producto" 
                      readonly
                    />
                    <button>+</button>
                  </div>
                </div>
              </form>
              <div class="description-article">
                <h3>Descripción:</h3>
                <p>
                  Café espresso de cuerpo completo, con una delicada capa de espuma
                  de leche vaporizada . Imágenes referenciales.
                </p>
              </div>
            </div>
        </article>
        </section>
      </div>
      </main>

    </main>
    <%- include('../partials/footer.ejs') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
