<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!--! CSS Products -->
    <link rel="stylesheet" href="/css/products/Cart.css" />
  </head>
  <body class="todo-carro">
    <%- include('../partials/header.ejs') %>

    <main class="contenedor-main-carrito">
      <section class="contenedor-cart pc-list-cart">
        <!--! Cantidad de Artículos -->
        <article class="title-cart">
          <h1>Resumen de compra</h1>
        </article>
        <!--! Listado de productos -->
        <div id="cartRows"></div>
        <!--! Total -->
      </section>
      <section class="tablet-flex-end">
        <!-- Checkout -->
        <div class="contenedor-cart pc-checkout">
          <article class="checkout-total">
            <h3>Pantalla de compra</h3>
            <form action="">
              <div class="Metodos-de-pago">
                <label for="Tarjeta-de-credito">
                  <input
                    type="radio"
                    name="TipoDePago"
                    id="Tarjeta-de-credito"
                  />
                  <p>Tarjeta de crédito</p>
                </label>
                <label for="Paypal">
                  <input type="radio" name="TipoDePago" id="Paypal" required />
                  <p>Paypal</p>
                </label>
                <label for="Mercado-pago">
                  <input
                    type="radio"
                    name="TipoDePago"
                    id="Mercado-pago"
                    required
                  />
                  <p>Mercado pago</p>
                </label>
              </div>
              <div class="cart-total-amount" id="totalAmount"></div>
              <div class="form-checkout">
                <input type="submit" class="payment" value="Comprar" required />
              </div>
            </form>
          </article>
        </div>
        <div class="contenedor-cart pc-vaciar">
          <article class="checkout-total">
            <div class="form-checkout">
              <button class="payment" id="VaciarCarrito">Vaciar carrito</button>
            </div>
          </article>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/carrito/cart.js"></script>
  </body>
</html>
