<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/products/productShop.css" />
    <link rel="icon" href="/img/mr.png">
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section>
        <article id="breadcrumb">
          <div>
            <a href="/">Inicio</a>
            <span class="separator">|</span>
            <span class="page-title">Productos</span>
          </div>
        </article>
        <article></article>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
