<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del producto</title>
    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/54588310a9.js"
      crossorigin="anonymous"
    ></script>
    <!-- Css -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/productDetail.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <!--! Cerrar buscador -->
      <div id="cover-ctn-search"></div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
