main#main-error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 5vh;
}
main#main-error figure {
  width: 90%;
  height: 50vh;
}
main#main-error figure img {
  width: 100%;
  height: 100%;
}
main#main-error a {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: none;
  color: var(--color-Negro);
}

main#main-error a span {
  color: var(--color-Celeste);
  border-bottom: 0.1rem solid transparent;
  transition: 0.3s;
}
#main-error a:hover span {
  color: var(--color-Celeste-Claro);
}
