@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
/* ! Header */
.Favorite a {
  color: var(--color-Negro-1);
}
.Config button {
  color: var(--color-Negro-1);
}
.nav ul li a {
  color: var(--color-Negro-1);
}
/* ! */
main {
  background-color: var(--color-Blanco-2);
  font-family: "Raleway", sans-serif;
}
main#main-error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 5vh;
}
main#main-error figure {
  width: 90%;
  height: 50vh;
}
main#main-error figure img {
  width: 100%;
  height: 100%;
}
main#main-error a {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: none;
  color: var(--color-Negro-1);
}

main#main-error a span {
  color: var(--color-Celeste-1);
  border-bottom: 0.1rem solid transparent;
  transition: 0.3s;
}
#main-error a:hover span {
  color: var(--color-Celeste-2);
}
