@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */

/* ! Header */
.Favorite a {
  color: var(--color-Negro-1);
}
.Config button {
  color: var(--color-Negro-1);
}
.nav ul li a {
  color: var(--color-Negro-1);
}
#urlHome {
  color: var(--color-Marron-1);
}

/*! Section 1 - CAMPAÑA*/
main {
  background-color: var(--color-Blanco-2);
  font-family: "Raleway", sans-serif;
}
.Container-Campaign {
  background-image: url(/img/eslogan-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container-Campaign::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-Negro-Glass);
  position: absolute;
}
.campaña {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  color: var(--color-Blanco-1);
}
.campaña h1 {
  font-size: 20px;
  pointer-events: none;
}
.campaña p {
  margin-top: 10px;
  font-size: 20px;
  pointer-events: none;
  display: none;
}
.boton-descubrir {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.4s;
  margin-top: 20px;
  border: 2px solid var(--color-Blanco-1);
  color: var(--color-Blanco-1);
  text-decoration: none;
}
.boton-descubrir:hover {
  background-color: var(--color-Marron-1);
  border: 2px solid var(--color-Marron-1);
}
#wave-effect {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  overflow: hidden;
}
#wave-effect svg {
  height: 100%;
  width: 100%;
}
#wave-effect svg path {
  fill: var(--color-Blanco-2);
  stroke: none;
}
/*! Section 2 - Productos Destacados */
.conteiner-featured {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner-featured .prueba {
  text-align: center;
}
.conteiner-featured article h2 {
  text-align: center;
  font-size: 25px;
  margin: 40px;
  pointer-events: none;
  border-bottom: 1px solid var(--color-Marron-1);
  color: var(--color-Marron-1);
}
@media (min-width: 460px) {
  /*! Tablets */
  .campaña h1 {
    font-size: 28px;
  }
  .conteiner-featured article h2 {
    border-bottom: 0px;
  }
  .container-products-top {
    background-color: var(--color-Blanco-3);
    padding: 30px 10px;
    margin: 0px 50px;
    border-radius: 30px;
    border-top: 3px solid var(--color-Marron-1);
    border-bottom: 3px solid var(--color-Marron-1);
  }

  .campaña p {
    display: block;
  }
}
@media (min-width: 768px) {
  /*! Laptops */
  .campaña h1 {
    font-size: 34px;
  }
  .conteiner-featured article h2 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  /*! PC */
}
