@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
/*   font-family: "Raleway", sans-serif; */
/*! Atributos por defecto */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
}
/*! Colores */
:root {
  --color-Blanco-1: #ffffff;
  --color-Blanco-2: #f6f6f6;
  --color-Blanco-3: #dddddd;

  --color-Negro-1: #000000;
  --color-Negro-2: #111111;
  --color-Negro-3: #191919;

  --color-Negro-Glass: #00000080;
  --color-Rojo-Glass: #d31e1e40;
  --color-Celeste-Glass: #00b7ff40;

  --color-Azul-1: #252a2f;
  /*! */
  /*! */
  --Primary: #2e353b;
  --Primary-Dark: #252a2f;

  --Secondary: #fff;
  --Secondary-Dark: #ddd;

  --Tertiary: #000;
  --Tertiary-Light: #1d1d1d;

  --BoxShadow: rgba(0, 0, 0, 0.4);
  --BoxShadow-Error: rgba(255, 0, 0, 0.4);
  --BoxShadow-Checked: rgba(90, 210, 240, 0.4);

  --Link: #00b7ff;
  --Link-Dark: #0092cc;

  --Error: #ab0b0b;
  --Error-Light: #ff0000;
  --Error-Dark: #681111;
  /*! */
  /*! */
  --color-Gris-1: #8a8a8a;
  --color-Gris-2: #797979;
  --color-Gris-3: #b4b3b33d;
  --color-Gris-4: #303440;
  --color-Gris-5: #303440;

  --color-Celeste-1: #00b7ff;
  --color-Celeste-2: #42c9ff;

  --color-Marron-1: #ad715c;
  --color-Marron-2: #d1a284;
  --color-Marron-3: #ffa858;
  --color-Marron-4: #76402e;
  --color-Marron-5: #8c4933;

  --color-Rojo-1: #ff0000;
  --color-Rojo-2: #ab0b0b;
  --color-rojo-3: #681111;
  --color-Rojo-4: #dc354540;

  --color-Verde-1: #3bc472;
}

/*! button dark */
.container-button-dark {
  display: flex;
  justify-content: center;
  max-width: 300px;
  padding: 0px 5px;
  margin: auto;
}
.button-dark {
  color: var(--color-Blanco-1);
  background-color: var(--Primary);
  border: 1px solid var(--color-Blanco-3);
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.500rem 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin: 10px 0px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.button-dark:hover {
  color: var(--color-Blanco-3);
  background-color: var(--Primary-Dark);
  border: 1px solid var(--Primary-Dark);
}

/*! form */
.form-style {
  margin: auto;
  text-align: start;
  width: 96%;
}

/*! New image (img y button) */
.container-new-img{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.new-img {
  width: 120px;
  height: 120px;
}
.new-img picture {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.new-img picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-new-img {
  padding-top: 10px;
}
.button-new-img label {
  background-color: transparent;
  border: 2px solid var(--Primary);
  color: var(--Primary);
  display: inline-block;
  padding: 6px 16px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.button-new-img label:hover {
  background-color: var(--Primary);
  color: var(--Secondary);
}
.button-new-img label input {
  display: none;
  font-family: inherit;
  -webkit-appearance: none;
}

/*! Campos Label-Input */
.contenedor-campo {
  width: 100%;
  padding: 10px 0px;
}
.contenedor-campo label {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  color: var(--Primary);
}
.contenedor-campo input {
  width: 100%;
  border: none;
  height: 44px;
  margin-top: 8px;
  outline: none;
  padding: 10px 35px 10px 10px;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.1s;
  color: var(--Tertiary-Light);
  box-shadow: 0 0 0 0.1rem var(--Secondary-Dark);
}
.contenedor-campo input:focus {
  box-shadow: 0 0 0 0.2rem var(--Secondary-Dark);
}
.contenedor-campo input::placeholder {
  color: var(--Secondary-Dark);
}
.contenedor-campo input:hover {
  background-color: var(--Secondary);
  box-shadow: 0 0 0 0.2rem var(--Secondary-Dark);
}

/*! Message error */
.errors-t {
  font-family: initial;
  pointer-events: none;
  margin: 5px 0px 0px 5px;
  color: var(--Error-Light);
}
/*! is invalid */
.contenedor-campo .is-invalid {
  box-shadow: none;
  border: 2px solid var(--Error-Light);
}
.contenedor-campo .is-invalid-icon {
  background-image: url(/img/exclamation-circle.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.575em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.contenedor-campo .is-invalid:hover {
  box-shadow: 0 0 0 0.25rem var(--BoxShadow-Error);
}
.contenedor-campo .is-invalid:focus {
  box-shadow: 0 0 0 0.25rem var(--BoxShadow-Error);
}
/*! is valid */
.contenedor-campo .is-valid {
  border: 2px solid var(--Link);
  box-shadow: none;
}
.contenedor-campo .is-valid-icon {
  background-image: url(/img/check-circle.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.575em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.contenedor-campo .is-valid:hover {
  box-shadow: 0 0 0 0.25rem var(--BoxShadow-Checked);
}
.contenedor-campo .is-valid:focus {
  box-shadow: 0 0 0 0.25rem var(--BoxShadow-Checked);
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}

/*! Css users */
.vinculos-users {
  text-align: center;
  margin: 5px 0px;
  display: inline-block;
}
.vinculos-users a p{
  margin: 15px 0px;
  font-size: 1.2rem;
  color: var(--Link);
}
.vinculos-users a p:hover{
  color: var(--Link-Dark);
}
.container-main-users {
  padding-bottom: 0;
}
.container-article{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*! Fondo Animado */
.context {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.area{
  background: var(--Primary);
  width: 100%;
  overflow: hidden;
}
.circles{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  overflow: hidden;
}
.circles li{
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--color-Gris-1);
  animation: animate 20s linear infinite;
}
.circles li:nth-child(1){
  width: 80px;
  height: 80px;
  animation-delay: 2s;
}
.circles li:nth-child(2){
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  width: 110px;
  height: 110px;
  animation-delay: 0s;
}
.circles li:nth-child(7){
  width: 80px;
  height: 80px;
  animation-delay: 4s;
}
.circles li:nth-child(8){
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  width: 80px;
  height: 80px;
  animation-delay: 3s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}
/*! */

/*! scrollbar */
::-webkit-scrollbar{
  background-color: var(--color-Blanco-1);
  padding: 5px;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-Azul-1);
  border-radius: 5px;
}

@media (min-width: 460px) {
  .circles li:nth-child(7){
    width: 120px;
    height: 120px;
  }
  .circles li:nth-child(10){
    width: 150px;
    height: 150px;
  }
  .button-dark {
    font-size: 1.5rem;
  }
  .form-style{
    width: 90%;
  }
}

@media (min-width: 768px) {
  /* !laptops */
  .container-new-img{
    flex-direction: row;
    justify-content: center;
  }
  .container-new-img div{
    max-width: 50%;
  }
  .button-new-img {
    text-align: start;
    padding-left: 10px;
  }
}