/*! Colores */
:root {
  --color-Celeste: #00b7ff;
  --color-Celeste-Claro: #42c9ff;
  --color-Marron-Oscuro-2: #8c4933;
  --color-Marron-Oscuro: #76402e;
  --color-Marron: #ad715c;
  --color-Marron-Claro: #d1a284;
  --color-Marron-Claro-2: #ffa858;
  --color-Negro: #000;
  --color-Negro-Claro-1: #111111f3;
  --color-Negro-Claro-2: #111111d0;
  --color-Gris-Claro-1: #b4b3b33d;
  --color-Gris-Claro-2: #303440;
  --color-Gris-Claro-3: #303440;
  --color-Blanco: #fff;
  --color-Blanco-Oscuro-1: #f6f8fa;
  --color-Blanco-Oscuro-2: #8a8a8a;
  --color-Blanco-Oscuro-2: #797979;
  --color-Blanco-Gastado: #dcdde9;
  --color-Negro: #000;
  --color-Rojo-Super-Claro: rgb(255, 0, 0);
  --color-Rojo-Claro: #ab0b0b;
  --color-rojo-Oscuro: #550a0a;
  --color-Rojo-Oscuro-2: #dc354540;
  --color-Verde-Saturado: #3bc472;
}
