/*! Atributos por defecto */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
body {
  font-family: "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
}
/*! Colores */
:root {
  --color-Blanco-1: #ffffff;
  --color-Blanco-2: #f6f6f6;
  --color-Blanco-3: #dddddd;

  --color-Negro-1: #000000;
  --color-Negro-2: #111111;
  --color-Negro-3: #191919;

  --color-Negro-Glass: #00000080;
  --color-Rojo-Glass: #d31e1e40;
  --color-Celeste-Glass: #00b7ff40;

  --color-Azul-1: #252a2f;

  --color-Gris-1: #8a8a8a;
  --color-Gris-2: #797979;
  --color-Gris-3: #b4b3b33d;
  --color-Gris-4: #303440;
  --color-Gris-5: #303440;

  --color-Celeste-1: #00b7ff;
  --color-Celeste-2: #42c9ff;

  --color-Marron-1: #ad715c;
  --color-Marron-2: #d1a284;
  --color-Marron-3: #ffa858;
  --color-Marron-4: #76402e;
  --color-Marron-5: #8c4933;

  --color-Rojo-1: #ff0000;
  --color-Rojo-2: #ab0b0b;
  --color-rojo-3: #550a0a;
  --color-Rojo-4: #dc354540;

  --color-Verde-1: #3bc472;
}
