<footer>
  <!--! Formulario -->
  <div class="container-form">
    <form action="" class="formulario" id="notificaciones">
      <label for="" class="recibi-noticias">RECIBI TODAS NUESTRAS</label>
      <label for="" class="recibi-noticias">PROMOCIONES Y NOVEDADES</label>
      <div class="container-email">
        <div class="email-icon">
          <i class="fas fa-envelope"></i>
        </div>
        <input
          name="newsletter"
          placeholder="Ingresa tu Correo"
          type="email"
          id="newsletter-input"
        />
        <label id="email-send">
          <input type="submit" />
          <i class="far fa-paper-plane"></i>
        </label>
      </div>
      <div class="Container-Redes">
        <a href="https://www.instagram.com/sebastian.szz/">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/sebastian.szz/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.instagram.com/sebastian.szz/">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
    </form>
  </div>
  <h5>Mr Coffee</h5>
  <div class="buttons">
    <div class="footer-button-action">
      <button class="Container-links">
        <p>Sobre nosotros</p>
        <i class="fas fa-angle-down"></i>
      </button>
      <ul class="links">
        <li>
          <a href="https://www.instagram.com/sebastian.szz/" target="_blank"
            >Nuestra historia</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/sebastian.szz/" target="_blank"
            >Nuestra misión</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/sebastian.szz/" target="_blank"
            >Nuestro café</a
          >
        </li>
      </ul>

      <button class="Container-links">
        <p>Atención al cliente</p>
        <i class="fas fa-angle-down"></i>
      </button>
      <ul class="links">
        <li>
          <a href="https://www.instagram.com/sebastian.szz/" target="_blank"
            >Contacto</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/sebastian.szz/" target="_blank"
            >Medios de pago</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/sebastian.szz/"
            >Defensa de consumidores</a
          >
        </li>
      </ul>
    </div>
    <div class="Container-Buttons">
      <a>
        <i class="fa-solid fa-location-dot brands"></i>
        <p>Tiendas</p>
      </a>
      <a href="https://github.com/19diego93/grupo_5_MrCoffee" target="_blank">
        <i class="fa-brands fa-github"></i>
        <p>Proyecto</p>
      </a>
    </div>
  </div>
  <div class="Container-end">
    <p>
      <a href="">Aviso de Privacidad</a>
    </p>
    <p class="Dis-none">|</p>
    <p>
      <a href="">Condiciones de Uso</a>
    </p>
  </div>
  <p class="derechos-autor">© 2022 Mr Coffee</p>
</footer>
<!--' JS -->
<script src="/js/menu.js" type="text/javascript"></script>
<script src="/js/drop-downMenu.js" type="text/javascript"></script>
<script src="/js/drop-downSearch.js" type="text/javascript"></script>
