<header>
  <!--! Encabezado -->
  <div class="Header-Content">
    <div class="Favorite">
      <a href="#"><i class="fas fa-bookmark"></i></a>
    </div>
    <div class="Logo">
      <a href="/">
        <img src="/img/MrCoffee.png" alt="Logo" />
      </a>
    </div>
    <div class="Config">
      <a id="menu-deploy1">
        <i class="fas fa-bars"></i>
      </a>
    </div>
  </div>
  <!-- ! Navegacion -->
  <nav class="nav">
    <ul>
      <li>
        <a href="/">
          <i class="fa-solid fa-house disNone selected"></i>
          <p class="selected">Inicio</p>
        </a>
      </li>
      <li>
        <a href="/products">
          <i class="fa-solid fa-basket-shopping disNone"></i>
          <p>Tienda</p>
        </a>
      </li>
      <li>
        <a id="search">
          <i class="fa-solid fa-magnifying-glass disNone"></i>
          <p>Buscar</p>
        </a>
      </li>
      <li>
        <a href="/products/cart">
          <i class="fa-solid fa-cart-shopping disNone"></i>
          <p>Carrito</p>
        </a>
      </li>
      <li class="celNone">
        <a id="menu-deploy2">
          <i class="fas fa-bars"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!--! Buscador -->
  <form action="/search" method="GET" id="ctn-bars-search">
    <input
      type="text"
      id="inputSearch"
      placeholder="¿Qué deseas buscar?"
      name="keywords"
    />
    <h3 class="search" id="close-search">
      <i class="fas fa-times"></i>
    </h3>
  </form>
</header>
<%- include('./menu') %>
<!--! Cerrar buscador/menu -->
<div id="cover-ctn-search"></div>
