<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--! Icons -->
  <script
    src="https://kit.fontawesome.com/54588310a9.js"
    crossorigin="anonymous"
  ></script>
  <!--! CSS Products -->
  <link rel="stylesheet" href="/css/products/productCart.css" />
  <link rel="stylesheet" href="/css/products/productDetail.css" />
  <link rel="stylesheet" href="/css/products/productShop.css" />
  <!--! CSS Statics -->
  <link rel="stylesheet" href="/css/statics/footer.css" />
  <link rel="stylesheet" href="/css/statics/header.css" />
  <link rel="stylesheet" href="/css/statics/products.css" />
  <!--! CSS Users -->
  <link rel="stylesheet" href="/css/users/login.css" />
  <link rel="stylesheet" href="/css/users/profile.css" />
  <link rel="stylesheet" href="/css/users/register.css" />
  <!--! CSS -->
  <link rel="stylesheet" href="/css/home.css" />
  <!--' TITLE -->
  <title>Mr Coffee</title>
</head>
