<header>
  <!--! Encabezado -->
  <div class="Header-Content">
    <div class="Favorite">
      <a href="/"><i class="fas fa-bookmark"></i></a>
    </div>
    <div class="Logo">
      <a href="/">
        <img src="/img/MrCoffee.png" alt="Logo" />
      </a>
    </div>
    <div class="Config">
      <button id="menu-deploy-1">
        <i class="fas fa-bars"></i>
      </button>
      <button id="menu-close-1">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- ! Navegacion -->
  <nav class="nav">
    <ul>
      <li>
        <a href="/" id="urlHome">
          <i class="fa-solid fa-house disNone"></i>
          <p class="">Inicio</p>
        </a>
      </li>
      <li>
        <a href="/products" id="urlProducts">
          <i class="fa-solid fa-basket-shopping disNone"></i>
          <p>Tienda</p>
        </a>
      </li>
      <li>
        <button id="search">
          <i class="fa-solid fa-magnifying-glass disNone"></i>
          <p>Buscar</p>
        </button>
      </li>
      <li>
        <a href="/products/cart" id="urlCart">
          <i class="fa-solid fa-cart-shopping"></i>
          <p></p>
        </a>
      </li>
      <li class="celNone">
        <button id="menu-deploy2">
          <i class="fas fa-bars"></i>
        </button>
        <button id="menu-close-2">
          <i class="fas fa-times"></i>
        </button>
      </li>
    </ul>
  </nav>
  <!--! Buscador -->
  <form action="/search" method="GET" id="ctn-bars-search">
    <input
      type="text"
      id="inputSearch"
      placeholder="¿Qué deseas buscar?"
      name="keywords"
    />
    <span id="close-search"></span>
  </form>
</header>
<%- include('./menu') %>
<!--! Cerrar buscador/menu -->
<div id="cover-ctn-search"></div>
