<nav class="nav-menu" id="deploy-menu">
  <ul class="list">
    <div id="close-menu">
      <i class="fas fa-times"></i>
    </div>
    <% if (!locals.isLogged) { %>

    <li class="list__item">
      <div class="list__button">
        <i class="fas fa-address-card"></i>
        <a href="/user/register" class="nav__link">Registrate</a>
      </div>
    </li>

    <li class="list__item">
      <div class="list__button">
        <i class="fas fa-sign-in"></i>
        <a href="/user/login" class="nav__link">Ingresa</a>
      </div>
    </li>
    <% } else { %>
    <li class="list__item">
      <div class="list__button">
        <i class="fas fa-sign-out-alt"></i>
        <a href="/user/logout" class="nav__link">Salir</a>
      </div>
    </li>
    <% } %>
    <li class="list__item">
      <div class="list__button">
        <i class="fas fa-bell"></i>
        <a href="#notificaciones" class="nav__link" id="close-menu-2">
          Notificaciones
        </a>
      </div>
    </li>

    <li class="list__item list__item--click">
      <div class="list__button list__button--click">
        <i class="fas fa-cog"></i>
        <p class="nav__link">Usuario</p>
        <i class="fas fa-angle-down list__arrow"></i>
      </div>

      <ul class="list__show">
        <li class="list__inside">
          <a href="/user/profile" class="nav__link nav__link--inside">Perfil</a>
        </li>
        <li class="list__inside">
          <a href="#" class="nav__link nav__link--inside">Favoritos</a>
        </li>
        <li class="list__inside">
          <a href="#" class="nav__link nav__link--inside">Metodo de Pago</a>
        </li>
      </ul>
    </li>
    <% if (locals.category) { %>
    <li class="list__item list__item--click">
      <div class="list__button list__button--click">
        <i class="fas fa-tools"></i>
        <p class="nav__link">Admin</p>
        <i class="fas fa-angle-down list__arrow"></i>
      </div>

      <ul class="list__show">
        <li class="list__inside">
          <a href="/admin/create" class="nav__link nav__link--inside"
            >Crear un producto</a
          >
        </li>
        <li class="list__inside">
          <a href="/admin/list" class="nav__link nav__link--inside"
            >Productos sin Stock</a
          >
        </li>
      </ul>
    </li>
    <% } %>
    <li class="list__item list__item--click">
      <div class="list__button list__button--click">
        <i class="fa-solid fa-comment-dots"></i>
        <p class="nav__link">AYUDA</p>
        <i class="fas fa-angle-down list__arrow"></i>
      </div>

      <ul class="list__show">
        <li class="list__inside">
          <a href="#" class="nav__link nav__link--inside">
            Preguntas Frecuentes
          </a>
        </li>

        <li class="list__inside">
          <a href="#" class="nav__link nav__link--inside">Contactanos</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
