<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En la caja le cobran</title>
</head>
<body>
    <footer>
        <h4>Mr Coffee</h4>
        <ul class="Redes">
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
        </ul>
        <h4>Sobre nosotors</h4>
        <ul class="links">
          <li><a href="#">Nuestra historia</a></li>
          <li><a href="#">Nuestra misión</a></li>
          <li><a href="#">Nuestra café</a></li>
        </ul>
        <h4>Atención al cliente</h4>
        <ul class="links">
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Medios de pago</a></li>
          <li><a href="#">Defensa de los consumidores</a></li>
        </ul>
  
        <div class="Buttons">
          <button>
            <i class="fa-solid fa-location-dot"></i>
            <p>Localizar tiendas</p>
          </button>
          <button>
            <i class="fa-brands fa-github"></i>
            <p>Proyecto</p>
          </button>
        </div>
  
        <div class="end">
          <a href="">Aviso de privacidad</a>
          <a href="">Condiciones de uso</a>
          <p>© 2022 Mr Coffee</p>
        </div>
      </footer>
</body>
</html>