<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Caompatible" content="ie=edge">
    <title>MrCoffee | Home</title>
    
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/54588310a9.js" crossorigin="anonymous"></script>
    
    <!-- CSS Estilos -->
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
    <header>
        <div><img src="#" alt=""></div>
        <nav>
            <ul>
                <li><a href="#"><i class="fa-solid fa-bookmark"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-sliders"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-basket-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <div><img src="img/campaña.png" alt="Campaña"></div>
            <h1>¡Conoce nuestras bebidas!</h1>
            <button>¡Descubrír!</button>
        </section>
        <section>
            <h2>Destacados</h2>
            <hr>
                <article>
                    <img src="#" alt="">
                    <h3>LOREM</h3> <!-- Titulo -->
                    <p>Lorem ipsum dolor sit amet consectetur</p> <!-- Descripcion -->
                    <h4>$</h4> <!-- Precio -->
                </article>
                <article>
                    <img src="#" alt="">
                    <h3>LOREM</h3>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <h4>$</h4>
                </article>
                <article>
                    <img src="#" alt="">
                    <h3></h3>
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <h4>$</h4>
                </article>
        </section>
    </main>

    <footer>
        <nav>
            <ul>
                <h3>Mr.Coffee</h3>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            </ul>
            <ul>
                <h4>Sobre nosotors</h4>
                <li><a href="">Nuestra historia</a></li>
                <li><a href="">Nuestra misión</a></li>
                <li><a href="">Nuestra café</a></li>
            </ul>
            <ul>
                <h4>Atención al cliente</h4>
                <li><a href="">Contacto</a></li>
                <li><a href="">Medios de pago</a></li>
                <li><a href="">Defensa de los consumidores</a></li>
            </ul>
        </nav>

        <div>
            <button><i class="fa-solid fa-location-dot"></i>Localizar tiendas</button>
            <button><i class="fa-brands fa-github"></i>Proyecto</button>
        </div>

        <div>
            <a href="">Aviso de privacidad</a>|<a href="">Condiciones de uso</a>
            <p>© 2022 MrCoffee Todos los derechos reservados</p>
        </div>

    </footer>
    <!-- JavaScript -->
    <script src="js/index.js"></script>
</body>
</html>