<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta http-equiv="X-UA-Caompatible" content="ie=edge" />
    <title>MrCoffee | Home</title>

    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/54588310a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- CSS Estilos -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <!-- Encabezado -->
      <div class="header-content">
        <div class="imagen">
          <img src="img/MrCoffee.png" alt="Logo" />
        </div>
        <ul>
          <li>
            <a href="#"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
      </div>
      <!-- Navegacion -->
      <nav>
        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-house"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="img-campaña">
          <img src="" alt="Campaña" />
        </div>
        <h1>¡Conoce nuestras bebidas!</h1>
        <button>¡Descubrír!</button>
      </section>
      <section>
        <h2>Destacados</h2>
        <hr />
        <article>
          <img src="#" alt="" />
          <h3>LOREM</h3>
          <!-- Titulo -->
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <!-- Descripcion -->
          <h4>$</h4>
          <!-- Precio -->
        </article>
        <article>
          <img src="#" alt="" />
          <h3>LOREM</h3>
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <h4>$</h4>
        </article>
        <article>
          <img src="#" alt="" />
          <h3></h3>
          <p>Lorem ipsum dolor sit amet consectetur</p>
          <h4>$</h4>
        </article>
      </section>
    </main>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <footer>
      <h4>Mr Coffee</h4>
      <ul class="Redes">
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
      </ul>
      <h4>Sobre nosotors</h4>
      <ul class="links">
        <li><a href="#">Nuestra historia</a></li>
        <li><a href="#">Nuestra misión</a></li>
        <li><a href="#">Nuestra café</a></li>
      </ul>
      <h4>Atención al cliente</h4>
      <ul class="links">
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Medios de pago</a></li>
        <li><a href="#">Defensa de los consumidores</a></li>
      </ul>

      <div class="Buttons">
        <button>
          <i class="fa-solid fa-location-dot"></i>
          <p>Localizar tiendas</p>
        </button>
        <button>
          <i class="fa-brands fa-github"></i>
          <p>Proyecto</p>
        </button>
      </div>

      <div class="end">
        <a href="">Aviso de privacidad</a>
        <a href="">Condiciones de uso</a>
        <p>© 2022 Mr Coffee</p>
      </div>
    </footer>
    <!-- JavaScript -->
    <script src="js/index.js"></script>
  </body>
</html>
