<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mr Coffee | Home</title>
    <!--! Icons -->
    <script
      src="https://kit.fontawesome.com/54588310a9.js"
      crossorigin="anonymous"
    ></script>

    <!--! CSS -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <header>
      <!--! Encabezado -->
      <div class="Header-Content">
        <div class="Favorite">
          <a href="#"><i class="fas fa-bookmark"></i></a>
        </div>
        <h1 class="Logo">
          <img src="img/MrCoffee.png" alt="Logo" />
        </h1>
        <div class="Config">
          <a href="#"><i class="fas fa-bars"></i></a>
        </div>
      </div>
      <!-- ! Navegacion -->
      <nav class="nav">
        <ul>
          <li>
            <a href="/home"
              ><i class="fa-solid fa-house disNone"></i>
              <p>Inicio</p></a
            >
          </li>
          <li>
            <a href="/productos"
              ><i class="fa-solid fa-basket-shopping disNone"></i>
              <p>Tienda</p></a
            >
          </li>
          <li>
            <a id="search"
              ><i class="fa-solid fa-magnifying-glass disNone"></i>
              <p>Buscar</p></a
            >
          </li>
          <li>
            <a href="/productCart"
              ><i class="fa-solid fa-cart-shopping disNone"></i>
              <p>Carrito</p></a
            >
          </li>
          <li class="celNone">
            <a href="#"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
      </nav>
      <!--! Buscador -->
      <form id="ctn-bars-search">
        <button class="search" id="close-search">
          <i class="fas fa-times"></i>
        </button>
        <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?" />
      </form>
    </header>
    <main>
      <!--! Cerrar buscador -->
      <div id="cover-ctn-search"></div>
      <!--! Campaña -->
      <section class="Container-Campaign">
        <article class="campaña">
          <h2 class="">¡Conocé nuestras variedades!</h2>
          <a href="/productDetail" class="boton-descubrir">¡Descubrír!</a>
        </article>
      </section>
      <!--! Destacados -->
      <section class="conteiner-products">
        <article class="product">
          <div class="product-img">
          <a href="#" style="text-decoration: none">
            <img src="img/product/capucchino.png"/>
          </a>
          </div>
          <div class="product-desc">
            <h4>Cappuccino</h4>
            <p>$3000</p>
          </div>
        </article>
        <article class="product">
          <div class="product-img">
          <a href="#" style="text-decoration: none">
            <img src="img/product/latte.png"/>
          </a>
          </div>
          <div class="product-desc">
            <h4>Latte</h4>
            <p>$3000</p>
          </div>
        </article>
      </section>
      <!-- <section>
        <h3>Destacados</h3>
        <article class="destacados">
          <article class="item-completo">
            <div><img class="cafe-imagen" src="img/latte.png" alt="" /></div>
            <div><h4 class="item-text">Latte</h4></div>
          </article>
          <article class="item-completo">
            <div><img class="cafe-imagen" src="img/capucchino.png" alt="" /></div>
            <div><h4 class="item-text">Cappuccino</h4></div>
          </article>
          <article class="item-completo">
            <div><img class="cafe-imagen" src="img/mochia.png" alt="" /></div>
            <div><h4 class="item-text">Mocha</h4></div>
          </article>
          <article class="item-completo">
              <div><img class="cafe-imagen" src="img/skynny.png" alt="" /></div>
              <div><h4 class="item-text">Skinny</h4></div>
          </article>
      </section> -->
    </main>
    <footer>
      <!--! Formulario -->
      <form action="" class="formulario">
        <label for="" class="recibi-noticias">RECIBI TODAS NUESTRAS</label>
        <label for="" class="recibi-noticias">PROMOCIONES Y NOVEDADES</label>
        <div class="container-email">
          <input
            name="newsletter"
            placeholder="Ingresa tu Correo"
            type="email"
            id="newsletter-input"
            class="input-email"
          />
          <button class="boton-email">
            <i class="fas fa-envelope"></i>
          </button>
        </div>
        <ul class="Container-Redes">
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
        </ul>
      </form>
      <h5>Mr Coffee</h5>
      <div class="buttons">
        <div class="footer-button-action">
          <button class="Container-links">
            <p>Sobre nosotros</p>
            <i class="fas fa-angle-down"></i>
          </button>
          <ul class="links">
            <li><a href="#">Nuestra historia</a></li>
            <li><a href="#">Nuestra misión</a></li>
            <li><a href="#">Nuestro café</a></li>
          </ul>

          <button class="Container-links">
            <p>Atención al cliente</p>
            <i class="fas fa-angle-down"></i>
          </button>
          <ul class="links">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Medios de pago</a></li>
            <li><a href="#">Defensa de consumidores</a></li>
          </ul>
        </div>
        <div class="Container-Buttons">
          <button>
            <i class="fa-solid fa-location-dot brands"></i>
            <p>Tiendas</p>
          </button>
          <button>
            <i class="fa-brands fa-github"></i>
            <p>Proyecto</p>
          </button>
        </div>
      </div>
      <div class="Container-end">
        <p>
          <a href="">Aviso de Privacidad</a>
        </p>
        <p class="Dis-none">|</p>
        <p>
          <a href="">Condiciones de Uso</a>
        </p>
      </div>
      <p class="derechos-autor">© 2022 Mr Coffee</p>
    </footer>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
