<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <script src="https://kit.fontawesome.com/54588310a9.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div><img src="views/MrCoffee.png" alt="Logo MrCoffee"></div>
    </header>

    <main></main>

    <footer>
        <nav>
            <ul>
                <h3>Mr.Coffee</h3>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            </ul>
            <ul>
                <h4>Sobre nosotors</h4>
                <li><a href="">Nuestra historia</a></li>
                <li><a href="">Nuestra misión</a></li>
                <li><a href="">Nuestra café</a></li>
            </ul>
            <ul>
                <h4>Atención al cliente</h4>
                <li><a href="">Contacto</a></li>
                <li><a href="">Medios de pago</a></li>
                <li><a href="">Defensa de los consumidores</a></li>
            </ul>
        </nav>

        <div>
            <button><i class="fa-solid fa-location-dot"></i>Localizar tiendas</button>
            <button><i class="fa-brands fa-github"></i>Proyecto</button>
        </div>

        <div>
            <a href="">Aviso de privacidad</a>|<a href="">Condiciones de uso</a>
            <p>© 2022 MrCoffee Todos los derechos reservados</p>
        </div>

    </footer>

</body>
</html>