<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresa</title>
    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/54588310a9.js"
      crossorigin="anonymous"
    ></script>
    <!--Css-->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <header>
      <!--! Encabezado -->
      <div class="Header-Content">
        <div class="Favorite">
          <a href="#"><i class="fas fa-bookmark"></i></a>
        </div>
        <h1 class="Logo">
          <img src="img/MrCoffee.png" alt="Logo" />
        </h1>
        <div class="Config">
          <a href="#"><i class="fas fa-bars"></i></a>
        </div>
      </div>
      <!-- ! Navegacion -->
      <nav class="nav">
        <ul>
          <li>
            <a href="/home"
              ><i class="fa-solid fa-house disNone"></i>
              <p>Inicio</p></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-basket-shopping disNone"></i>
              <p>Tienda</p></a
            >
          </li>
          <li>
            <a id="search"
              ><i class="fa-solid fa-magnifying-glass disNone"></i>
              <p>Buscar</p></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-cart-shopping disNone"></i>
              <p>Carrito</p></a
            >
          </li>
          <li class="celNone">
            <a href="#"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
      </nav>
      <!--! Buscador -->
      <form id="ctn-bars-search">
        <button class="search" id="close-search">
          <i class="fas fa-times"></i>
        </button>
        <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?" />
      </form>
    </header>
    <main class="contenedor-login">
      <div class="contenedor-titulo"><h2>Iniciar sesión</h2></div>

      <!--Formulario de registro sin servidor aún-->
      <form
        action="aca va lo de php que todavia no vimos "
        method="post"
        class="form-login"
      >
        <div class="contenedor-campo">
          <label for="mail" class="campo-label">Email</label>
          <div class="caja-icono-campo">
            <i class="fa-solid fa-envelope icono-email"></i>
            <input
              class="campo"
              type="email"
              id="mail"
              name="mail"
              placeholder="superheroe@MrCoffee.com"
            />
          </div>
        </div>
        <div class="contenedor-campo">
          <label for="passwd" class="campo-label">Contraseña</label>
          <div class="caja-icono-campo">
            <i class="fa-solid fa-eye-slash icono-passwd"></i>
            <input
              class="campo"
              type="password"
              id="passwd"
              name="passwd"
              placeholder="Contraseña"
            />
          </div>
        </div>
        <div class="contenedor-boton-ingresar">
          <input type="submit" value="Iniciar sesión" class="button-ingresar" />
        </div>
      </form>
      <div class="vinculos-login">
        <a href=""><p class="olvidaste">¿Olvidaste tu Contraseña?</p></a>
        <!--Redirección a definir-->

        <a href=""><p class="politicas">Políticas de Privacidad</p></a>
        <!--Redirección a definir-->
      </div>
    </main>

    <footer>
      <h4>Mr Coffee</h4>
      <ul class="Redes">
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
      </ul>
      <h4>Sobre nosotors</h4>
      <ul class="links">
        <li><a href="#">Nuestra historia</a></li>
        <li><a href="#">Nuestra misión</a></li>
        <li><a href="#">Nuestro café</a></li>
      </ul>
      <h4>Atención al cliente</h4>
      <ul class="links">
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Medios de pago</a></li>
        <li><a href="#">Defensa de los consumidores</a></li>
      </ul>

      <div class="Buttons">
        <button>
          <i class="fa-solid fa-location-dot"></i>
          <p>Localizar tiendas</p>
        </button>
        <button>
          <i class="fa-brands fa-github"></i>
          <p>Proyecto</p>
        </button>
      </div>

      <div class="end">
        <a href="">Aviso de privacidad</a>
        <a href="">Condiciones de uso</a>
        <p>© 2022 Mr Coffee</p>
      </div>
    </footer>
  </body>
</html>
