<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del producto</title>
    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/54588310a9.js"
      crossorigin="anonymous"
    ></script>
    <!-- Css -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/productDetail.css" />
  </head>
  <body>
    <header>
      <!--! Encabezado -->
      <div class="Header-Content">
        <div class="Favorite">
          <a href="#"><i class="fas fa-bookmark"></i></a>
        </div>
        <h1 class="Logo">
          <img src="img/MrCoffee.png" alt="Logo" />
        </h1>
        <div class="Config">
          <a href="#"><i class="fas fa-bars"></i></a>
        </div>
      </div>
      <!-- ! Navegacion -->
      <nav class="nav">
        <ul>
          <li>
            <a href="/home"
              ><i class="fa-solid fa-house disNone"></i>
              <p>Inicio</p></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-basket-shopping disNone"></i>
              <p>Tienda</p></a
            >
          </li>
          <li>
            <a id="search"
              ><i class="fa-solid fa-magnifying-glass disNone"></i>
              <p>Buscar</p></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-cart-shopping disNone"></i>
              <p>Carrito</p></a
            >
          </li>
          <li class="celNone">
            <a href="#"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
      </nav>
      <!--! Buscador -->
      <form id="ctn-bars-search">
        <button class="search" id="close-search">
          <i class="fas fa-times"></i>
        </button>
        <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?" />
      </form>
    </header>
    <main>
      <!--! Cerrar buscador -->
      <div id="cover-ctn-search"></div>
    </main>
    <footer></footer>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
