/*! Main */

main {
  background-color: #fff;
  font-family: "SoDo Sans", Helvetica, Arial, sans-serif;
}
/*! Section 1 */

.Container-Campaign {
  background-image: url(/img/chicaconcafe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container-Campaign::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.campaña {
  /*' Al tener Flex-Direction: column; Se invierte el vertical y horizontal */
  /*' justify-content: center; Aplica a la Y */
  /*' align-items: center; Aplica a la X */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.campaña h2 {
  font-size: 20px;
  width: 100%;
  margin-top: 80px;
  color: #fff;
  pointer-events: none;
}
.boton-descubrir {
  margin: 20px;
  text-decoration: none;
}
.boton-descubrir p:hover {
  background-color: #26acff66;
}
.boton-descubrir p {
  background-color: #26acff;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
.conteiner-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  width: 250px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: solid 1px black;
  overflow: hidden;
}
.product-img a img {
  width: 80%;
  background-color: #1e3932;
  border-radius: 100%;
}
.product-img {
  width: 100%;
}
.product-desc p {
  margin: 4px;
}
@media (min-width: 460px) {
  .campaña h2 {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
}
