@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/* font-family: 'Raleway', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/* NAVEGACION DE ARRIBA */
.header-content {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-color: #262626;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 10;
}
.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen img {
  height: 70px;
}
.header-content ul {
  font-size: 38px;
  width: 100%;
}
.header-content ul li {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
}
.header-content ul li i {
  color: #262626;
}
/* NAVEGACION DE ABAJO */
header nav {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-color: #262626;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
header nav ul {
  display: flex;
  font-size: 30px;
  width: 100%;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav ul li i {
  color: #262626;
}
/* CUERPO */
body {
  height: 100%;
  background-color: #ffc29b;
}
main {
  margin-top: 70px;
  height: 100%;
}

/* PIE DE PAGINA */
footer {
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 2px 10px 2px;
  margin-bottom: 58px;
  width: 100%;
  z-index: 1;
}
footer h4 {
  text-align: center;
  font-size: 25px;
  margin: 0px 0px 4px 0px;
}
.Redes {
  display: flex;
  flex-direction: row;
}
.Redes li {
  display: flex;
  margin: 10px 30px 40px 30px;
  font-size: 40px;
}
.Redes li i {
  color: #ffffffb0;
}
.links {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 40px 0px;
}
.links li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.links li a {
  color: #ffffffb0;
}
.Buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Buttons button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  margin: 0px 0px 40px 0px;
  color: #fff;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 5px;
  border-color: #fff;
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.Buttons button i {
  display: flex;
  font-size: 30px;
}
.end {
  display: flex;
  flex-direction: column;
}
.end a {
  margin: 0px 0px 20px 0px;
  color: #ffffffb0;
}
.end p {
  margin: 10px;
  font-size: 20px;
}
