@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*! Cuerpo */
body {
  font-family: "Raleway", sans-serif;
}
/*! a */
a {
  text-decoration: none;
}
/*! Cabecera de celular y tablets */
.Header-Content {
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 60;
}
/*? favorito */
.Favorite {
  margin-left: 10px;
  display: none;
}
.Favorite a {
  color: #000;
  font-size: 28px;
}
/*? logo */
.Logo {
  display: flex;
  justify-content: center;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Logo img {
  width: 90%;
}
/*! Navegacion */
nav {
  background-color: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  border-top: 2px solid #000;
  z-index: 40;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  display: flex;
  align-items: center;
  font-size: 24px;
}
nav ul li a {
  color: #000;
}
nav ul li a p {
  display: none;
}
.celNone {
  display: none;
}
#search {
  cursor: pointer;
}
/*? configuracion */
.Config {
  margin-right: 10px;
}
.Config a {
  color: #000;
  font-size: 28px;
}
/*!Buscador*/
#ctn-bars-search {
  background-color: #111111;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 10px;
  top: -60px;
  width: 100%;
  z-index: 30;
}
#ctn-bars-search input {
  background-color: #fff;
  border: none;
  padding: 6px;
  width: 95%;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  outline: 0;
}
/*? search */
.search {
  display: none;
}
/*! Main */
main {
  background-color: red;
  margin-top: 60px;
}
/*! Ocultar buscador */
#cover-ctn-search {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
}
/*! Section 1 */
.Container-Campaign div img {
  width: 100%;
}
/*! Footer */
footer {
  background-color: violet;
}
/*! Header media */

/*! Main del Login y register */
.contenedor-login,.contenedor-register{
  display: block;    
  padding-bottom: 3rem; 
  background-color: white;
  min-width: 270px;
}


/*! form del login y register*/
.form-login,.form-register {
margin: auto;
width: 70%;
max-width: 400px;
}
/*! campos del form login y register*/
.contenedor-campo{
width: 100%;
padding: 10px 0px; 
display: flex;
flex-direction: column; 
}
.campo {  
width: 85%;
padding: 10px;  
border: none;
font-size: 0.7rem;
text-align: justify;
}
.campo-label{
font-size: .8rem;
padding-bottom: 5px;
color: #AD715C;
}
/*! contenedor icono campo */
.caja-icono-campo{
border: solid 1px black;
border-radius: 3px;
display: flex;
flex-direction: row;
justify-content: center;

}
/*! iconos del login-register*/
.icono-email,.icono-user,.icono-psw{
font-size: .8rem;
font-weight: 600;
align-self: center;
}


/*! botón del login y register*/
.contenedor-boton-registrar,.contenedor-boton-ingresar{
  display: flex;
  justify-content: center;
}
.button-ingresar,.button-registrar{
width: 100%;
margin-top: 10px;
padding: 5px;
border: none;
border-radius: 2px;
background-color: #00b7ff;
color: white;
max-width: 320px;

}
/*! boton tengo cuenta*/
.contenedor-redirect{
display: flex;
justify-content: center;
margin: auto;
margin-top: 20px;
width: 85%;
}
.redirect-login{
padding: .8rem 1.5rem;
border: solid 1px black;
border-radius: 2px;
background-color: #000;
color: white;
}
/*! titulo h2 y su contenedor login y register*/
.contenedor-titulo {
margin-top:50px;    
padding: 20px;
}
.contenedor-titulo h2 {
 text-align: center;
 margin-top: 25px;
 color: #76402e;
 font-size: 2.5rem;
}
/*! vinculos del login y register*/
.vinculos-login,.vinculos-register{
 text-align: center;
 margin-top:40px;
 margin-bottom: 10px;
 padding: 10px;
}
.olvidaste {   
 font-size: 1.2rem;
 margin-bottom: 20px;
 color: #00b7ff;
}
.politicas {
 font-size: 1rem;
 color: #00b7ff;
}



@media (min-width: 460px) {
  /*! Tablets */
  .Favorite {
    margin-left: 20px;
    display: block;
  }
  .Config {
    margin-right: 20px;
  }
  #ctn-bars-search input {
    font-size: 19px;
  }
  /*? search */
  .search {
    display: block;
    padding: 9px;
    background-color: #fff;
    border: none;
    color: #666;
    width: 10%;
    cursor: pointer;
  }
  .search i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }




  
}
@media (min-width: 768px) {
  /*! Laptops */
  .Logo {
    margin-left: 40px;
  }
  .Logo img {
    width: 100%;
  }
  .Favorite {
    display: none;
  }
  /*! Nav */
  .Container-Nav {
    display: none;
  }
  /*! Class-Nav */
  header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    z-index: 90;
  }
  /*! Navegacion */
  nav {
    position: unset;
    height: 0;
    border-top: unset;
    z-index: unset;
  }
  .disNone {
    display: none;
  }
  .celNone {
    display: block;
    font-size: 26px;
  }
  nav ul li {
    font-size: 20px;
  }
  nav ul li a p {
    display: block;
  }
  /*! Cabeza */
  .Header-Content {
    position: unset;
    background-color: unset;
    border-bottom: unset;
    z-index: unset;
  }
  .Config {
    display: none;
  }
  /*? Buscador */
  #ctn-bars-search input {
    width: 90%;
  }
  /*? search */
  .search {
    width: 5%;
  }
  /*! Main */
  main {
    margin-top: 60px;
  }


  
}
@media (min-width: 1200px) {
  .disNone {
    display: block;
  }
  .celNone {
    font-size: 38px;
  }
  nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
  }
  nav ul li a i {
    display: flex;
    margin-right: 10px;
  }
}
