<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--! Relacion 1:N (Uno a muchos)-->
    <!-- Forma de hacerlo con la tabla Ventas (belongsTo) -->
    <% ventas.forEach( venta => { %>
        <h1><%= venta.Usuario.first_name %></h1>
    <% }) %>
    <hr>
    <hr>
    <!-- Forma de hacerlo con la tabla Usuarios (hasMany) -->
    <% usuarios.forEach( usuario => { %>
        <% usuario.Venta.forEach(v => { %>
        <h1><%=usuario.first_name%></h1>
        <h1><%=v.cobrado%></h1>
        <% }) %>
    <% }) %>

    <!--! Relacion N:M (Muchos A Muchos) -->
</body>
</html>