<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1>creador</h1><br>
     <div> "id": 1,</div><br>
     <form class="form-editor" >
    <!-- <input type="file"  "image": "/img/coffee/1.png",> -->
    <label for="name">Nombre</label> 
      <input type="text" name="name" value='"name": "Skinny Vainilla Latte",'>
    <br>
    <label for="description">Descripción</label>
    <input type="text" name="description" value='"description": "Café espresso con leche descremada al vapor y toques de vainilla sin azúcar.",'>
    <br>
    <label for="category">Categorias</label> 
    <input type="text" name="category" value='"category": ["Café", "Cafés calientes", "Lattes"],'>
    <br>
    <label for="stock">Stock</label>
    <input type="number" name="stock" value='"stock": 0,'>
    <br>
    <label for="price">Precio</label>
    <input type="number" name="price" value='"price": 200,'>
    <br>
    <label for="rating">Rating</label>
    <input type="number" name="rating" value='"rating": 4'> 
    <button type="submit" ></button>
     </form>

    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
