<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="icon" href="/img/mr.png">
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main><h1>hola mundo</h1></main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
