<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main><h1>hola mundo</h1></main>
    <%- include('../partials/footer') %>
  </body>
</html>
