@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
/*! Configuracion de altura para todas las vistas */
main {
  margin-top: 60px;
  padding-bottom: 100px;
}
/*! Cabecera de celular y tablets */
.Header-Content {
  background-color: var(--color-Blanco-1);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 25px -12px var(--color-Negro-1);
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 60;
  font-family: "Noto Sans", sans-serif;
}
/*? favorito */
.Favorite {
  margin-left: 10px;
  display: none;
}
.Favorite a {
  font-size: 28px;
  transition: 0.3s;
}
.Favorite a:hover {
  color: var(--color-Celeste-1);
}
/*? logo */
.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}
.Logo img {
  width: 90%;
}
/*! configuracion */
.Config {
  margin: 0px 10px 0px 10px;
}
.Config button {
  font-size: 40px;
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.Config button:hover {
  color: var(--color-Celeste-1);
}
#menu-close-1 {
  display: none;
}
#menu-close-2 {
  display: none;
}
/*! Navegacion */
.nav {
  background-color: var(--color-Blanco-1);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  box-shadow: 0px -4px 10px -10px var(--color-Negro-1);
  z-index: 40;
}
.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 24px;
}
.nav ul li a {
  text-decoration: none;
  transition: 0.1s;
}
.nav ul li a:hover {
  color: var(--color-Celeste-1);
}
.nav ul li a p {
  display: none;
}
#search {
  color: var(--color-Negro-1);
  text-decoration: none;
  transition: 0.1s;
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}
#search:hover {
  color: var(--color-Celeste-1);
}
#search p {
  display: none;
  font-size: 20px;
}
.nav ul .celNone {
  display: none;
  cursor: pointer;
}
#search {
  cursor: pointer;
}
/*!Buscador*/
#ctn-bars-search {
  background-color: transparent;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  top: 60px;
  width: 100%;
  z-index: 30;
  transition: 0.3s;
}
#inputSearch {
  position: relative;
  outline: none;
  border: none;
  padding: 20px 10px;
  width: 100%;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  background-color: var(--color-Blanco-1);
  color: var(--color-Negro-3);
}
#inputSearch::placeholder {
  color: var(--color-Negro-3);
}
#close-search {
  position: absolute;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#close-search::before {
  content: "\f00d";
  font-family: fontAwesome;
}
/*! search */
.search {
  position: absolute;
  right: 20px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*! Ocultar buscador */
#cover-ctn-search {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: var(--color-Negro-Glass);
  z-index: 7;
  cursor: pointer;
}
@media (min-width: 460px) {
  /*! Tablets */
  .Favorite {
    margin-left: 20px;
    display: block;
  }
  .Config {
    margin-right: 20px;
  }
  #inputSearch {
    font-size: 20px;
  }
  .search i {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  /*! Laptops */
  .Logo {
    margin-left: 40px;
  }
  .Logo img {
    width: 100%;
  }
  .Favorite {
    display: none;
  }
  /*! Nav-D */
  .Container-Nav {
    display: none;
  }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--color-Blanco-1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 25px -12px var(--color-Negro-1);
    z-index: 100;
  }
  /*! Navegacion-E */
  .nav {
    position: unset;
    height: 0;
    border-top: unset;
    z-index: unset;
    box-shadow: unset;
    border-top: unset;
  }
  .disNone {
    display: none;
  }
  .nav ul .celNone {
    display: block;
  }
  .celNone button {
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .celNone button:hover {
    color: var(--color-Celeste-1);
  }
  .nav ul li {
    font-size: 20px;
  }
  .nav ul li a p {
    display: block;
  }
  #search p {
    display: block;
  }
  /*! Cabeza */

  .Config {
    display: none;
  }
  /*? Buscador */
  #ctn-bars-search {
    transition: 0s;
    top: 80px;
    padding: 20px;
  }
  #close-search {
    right: 50px;
  }
  main {
    margin-top: 80px;
  }
  .Header-Content {
    position: unset;
    background-color: unset;
    box-shadow: unset;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  /*! PC */
  .disNone {
    display: block;
  }
  .nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-Negro-1);
  }
  #search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-Negro-1);
  }
  .nav ul li a i {
    display: flex;
    margin-right: 10px;
  }
  #search i {
    display: flex;
    margin-right: 10px;
  }
}
