.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  transform: translateX(300px);
  transition: 0.6s;
}
#close-menu {
  position: absolute;
  top: 100px;
  right: 40px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--color-Marron);
  list-style: none;
}
#close-menu:hover {
  color: var(--color-Celeste);
}
#close-menu i {
  font-size: 40px;
}
.nav__link {
  color: var(--color-Gris-Claro-2);
  display: block;
  padding: 15px 0;
  text-decoration: none;
  transition: 0.4s;
}
.nav__link--outside {
  transition: 0.4s;
}
.nav__glow,
.nav__link {
  transition: 0.4s;
  color: var(--color-Marron-Oscuro);
}
.nav__glow:hover,
.nav__glow:hover .nav__link {
  color: var(--color-Celeste);
}

.nav__link--inside {
  padding-left: 20px;
  text-align: left;
}
.nav__link--inside:hover {
  background: var(--color-Gris-Claro-1);
  color: var(--color-Celeste);
}

.nav__link--outside:hover {
  background: var(--color-Blanco-Oscuro-1);
}
.list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--color-Blanco);
}

.list__item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
  cursor: pointer;
}

.arrow .list__arrow {
  transition: 0.4s;
  transform: rotate(180deg);
}

.list__arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.list__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid var(--color-Marron-Oscuro);
  list-style: none;
  transition: height 0.4s;
  height: 0;
}
@media (min-width: 460px) {
  .nav-menu {
    display: flex;
    width: 230px;
  }
}
@media (min-width: 768px) {
  /*! Laptops */
  .nav-menu {
    width: 300px;
  }
}
