@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
.section-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-product-title {
  font-size: 1.2em;
  color: var(--color-Marron-1);
}
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
  font-family: "Noto Sans", sans-serif;
}
.product-container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.product-image {
  width: 100%;
}
.product-image picture {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.product-image picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-stars {
  position: absolute;
}
.product-descriptions {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  pointer-events: none;
}
.product-Name {
  color: var(--color-Negro-1);
}
.product-Price {
  color: var(--color-Marron-1);
}
.product-offer {
  color: var(--color-Verde-1);
}
.product-error {
  text-align: center;
  color: var(--color-Rojo-1);
  font-size: 1rem;
}
@media (min-width: 460px) {
  /*! Tablets */
  .products {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
  }
  .product-container {
    width: 13rem;
  }
}
@media (min-width: 768px) {
  /*! Laptops */
  .product-error {
    font-size: 1.5rem;
  }
  .product-container {
    width: 14rem;
  }
  .section-product-title {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /*! PC */
}
