<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/users/profile.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="contenedor-perfil">
        <div class="titulo-perfil">
          <h2>Perfil</h2>
        </div>

        <form>
          <div class="formulario-perfil">
            <div class="contenedor-img-perfil">
              <div class="img-perfil">
                <label for="file">
                  <picture>
                    <img src="/img/chicaconcafe.jpeg" alt="imagen de usuario" />
                  </picture>
                </label>
              </div>
              <div class="boton-nueva-img">
                <div>
                  <label for="file">
                    <p>Subir nueva foto</p>
                    <input
                      type="file"
                      name="image"
                      id="file"
                      accept="image/*"
                    />
                  </label>
                </div>
                <p class="extensiones-img">
                  Puedes subir archivos de imagen '.jpg' '.jpeg' o '.png' Tama침o
                  m치ximo 1mb.
                </p>
              </div>
            </div>
            <div class="contenedor-input-perfil">
              <div class="estilos-input">
                <label for="first_name">Nombre</label>
                <input
                  placeholder="Introduzca su nombre"
                  id="first_name"
                  name="fname"
                  type="text"
                />
                <img src="/img/check-circle.svg" alt="check-circle" />
                <img src="/img/exclamation-circle.svg" alt="check-circle" />
              </div>

              <div class="estilos-input">
                <label for="last_name">Apellido</label>
                <input
                  placeholder="Introduzca su apellido"
                  id="last_name"
                  name="lname"
                  type="text"
                />
                <img src="/img/check-circle.svg" alt="check-circle" />
                <img src="/img/exclamation-circle.svg" alt="check-circle" />
              </div>

              <div class="estilos-input">
                <label for="email">Email</label>
                <input
                  placeholder="Introduzca su email"
                  id="email"
                  name="email"
                  type="email"
                />
                <img src="/img/check-circle.svg" alt="check-circle" />
                <img src="/img/exclamation-circle.svg" alt="check-circle" />
              </div>

              <div class="estilos-input">
                <label for="changePsw">Contrase침a</label>
                <button id="changePsw">Cambia tu contrase침a</button>
              </div>
            </div>
          </div>

          <div class="contenedor-botones">
            <div class="perfil-input-submit">
              <input type="submit" value="Guardar" />
            </div>

            <div class="perfil-cancelar">
              <a href="#">Cancelar</a>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
