<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/users/profile.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <h1>Hola Mundo</h1>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
