.main-createProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: unset;
}
.content-form-create {
  background-color: var(--color-Marron-Claro);
  width: 100%;
  padding: 90px 0px 50px 0px;
  color: var(--color-Blanco);
}

.container-form-createProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.container-form-createProduct h1 {
  text-align: center;
  color: var(--color-Negro);
}
.form-editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-Blanco);
  padding: 5px;
  border-radius: 15px;
  width: 100%;
}
.buttonImage-createproduct {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--color-Negro-Claro-2);
  color: var(--color-Blanco);
}
.button-createProduct {
  background: var(--color-Negro-Claro-2);
  color: var(--color-Blanco);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}
.button-createProduct:hover {
  opacity: 0.8;
}
.form-editor label {
  margin: 20px;
  width: 100%;
  padding: 5px;
  margin: 25px;
  border-bottom: 0.3rem solid var(--color-Negro-Claro-2);
}
.form-editor label p {
  color: var(--color-Negro-Claro-2);
}
.form-editor label input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--color-Negro-Claro-2);
  color: var(--color-Blanco);
}
/*! Se activa al colocar informacion erronea */
.form-editor label .error-msg {
  color: var(--color-Rojo-Claro);
  margin-top: 5px;
}
.form-editor label .is-invalid {
  border: 2px solid var(--color-Rojo-Super-Claro);
  background-image: url(/img/error-input.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.575em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-editor label .is-invalid:focus {
  border-color: var(--color-Rojo-Super-Claro);
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}
.form-editor label select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--color-Negro-Claro-2);
  color: var(--color-Blanco);
  font-size: 15px;
}
.form-editor label textarea {
  width: 100%;
  background: var(--color-Negro-Claro-2);
  color: var(--color-Blanco);
  border-radius: 10px;
  padding: 10px;
}
@media (min-width: 460px) {
  /*! Tablets */
  .form-editor label p {
    font-size: 20px;
  }
  .form-editor {
    width: 90%;
    padding: 20px;
  }
  .form-editor label input {
    font-size: 15px;
  }
  .form-editor label textarea {
    font-size: 15px;
  }
  .button-createProduct {
    font-size: 15px;
  }
  .content-form-create {
    padding: 90px 20px 50px 20px;
  }
}
@media (min-width: 768px) {
  /*! LAPTOP */
  .form-editor label p {
    font-size: 30px;
  }
  .form-editor label input {
    padding: 15px;
  }
  .form-editor label input {
    font-size: 25px;
  }
  .form-editor label textarea {
    font-size: 25px;
  }
  .form-editor label select {
    font-size: 25px;
  }
  .form-editor {
    width: 80%;
  }
  .button-createProduct {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  /*! PC */
}
