@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
/* ! Header */
.Favorite a {
  color: var(--color-Negro-1);
}
.Config button {
  color: var(--color-Negro-1);
}
.nav ul li a {
  color: var(--color-Negro-1);
}
#urlCart {
  color: var(--color-Marron-1);
}
/* ! Body */
.todo-carro {
  min-width: 250px;
}
/* ! Main */
.contenedor-main-carrito {
  background-color: #ffe6d6;
  width: 100%;
  height: 100%;
}
/* titulo */
.titulo-pagina-carrito {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20px;
}
/* 'Carrito */
.cart-section-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 20px 0px;
}
/* ! Articulo (¡producto!) */
.product-container {
  margin: 30px auto;
  display: flex;
  flex-flow: column;
  position: relative;
  width: 90%;
  border: 1px solid #ad715c;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 #818181;
}
/* Partes del producto */
.image-product {
  align-self: center;
}
.form-cart {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* select tamaños */
.tamaño-vaso {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.tamaño-vaso select {
  text-align: center;
  width: 35%;
  padding: 5px;
  margin: 0px 10px;
}
.tamaño-cafe {
  border: 1px solid black;
  border-radius: 3px;
}
/* contador unidades */
.contenedor-unidades-cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.contador-unidades {
  display: flex;
  width: 35%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  padding: 5px;
  margin: 0px 10px;
}
.contador-unidades input {
  width: 100%;
  text-align: center;
}
.contador-unidades button,
input {
  background-color: white;
  border-style: none;
}
.subtotal-price {
  margin: 20px 0px;
  text-align: center;
  width: 100%;
}
/* REmovedor */
.item-remove {
  position: absolute;
  right: 25px;
  top: 20px;
}
.item-remove a {
  font-size: 1.5rem;
  color: violet;
  transition: 350ms 150ms;
}
.item-remove a:hover {
  font-size: 2rem;
}
/* Checkout */
.checkout-total {
  margin-top: 50px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.checkout-total p {
  font-size: 1.7rem;
  margin-bottom: 15px;
}
.checkout-total button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #00b7ff;
  border-radius: 5px;
  color: white;
  border: none;
  transition: 400ms;
}
.checkout-total button:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* '' Tablets */
@media (min-width: 460px) {
  .titulo-pagina-carrito {
    font-size: 3.5rem;
  }
  .image-product {
    width: 45%;
    max-width: 270px;
    background-color: #ad715c;
    border-radius: 20px;
  }
  .image-product img {
    width: 100%;
  }

  .product-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    border: none;
    box-shadow: none;
    background-color: #ffe6d6;
  }

  .form-cart {
    position: relative;
    width: 60%;
    justify-content: center;
    text-align: left;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
  }
  /* sombras - transition imagen y detalle */
  .form-cart,
  .image-product {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .product-name {
    font-size: 1.5rem;
  }

  .item-remove {
    right: 22px;
    top: 14px;
  }
  .tamaño-vaso,
  .contenedor-unidades-cantidad {
    justify-content: space-evenly;
  }

  .checkout-total button {
    font-size: 1.5rem;
  }
}

/* ' Laptops */
@media (min-width: 880px) {
  .product-container {
    background-color: none;
  }
  .product-name {
    font-size: 2rem;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  .form-cart input,
  select {
    font-size: 1rem;
  }
  .subtotal-price {
    margin: 30px 0px;
    font-size: 1.2rem;
  }
  .tamaño-vaso,
  .contenedor-unidades-cantidad {
    font-size: 1.2rem;
  }
  .item-remove a {
    font-size: 2rem;
  }
  .item-remove a:hover {
    font-size: 2.2rem;
  }
}

/* ' Desktop */
@media (min-width: 1200px) {
}
