/* ! Main */
.contenedor-main-carrito{
  background-color: #ffe6d6;
  width: 100%;
  height: 100%;
}
/* titulo */
.titulo-pagina-carrito{
  text-align: center;
}
.cart-section-flex{
  display: flex;
  flex-direction: column;
  align-content: center;
 }
 .product-container{
   display: flex;
   flex-flow: column;
   align-items: center;
   width: 100%;
 }
 .form-cart{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
/* '' Tablets */
@media (min-width: 460px) {
} 

/* ' Laptops */
@media (min-width: 880px) {
}

/* ' Desktop */
@media (min-width: 1200px) {
}
