#breadcrumb div {
  margin: 10px 0px;
  font-size: 10px;
}
#breadcrumb div a {
  text-decoration: none;
  color: #000;
}
.producto-sin-stock h2 {
  color: red;
  text-align: center;
}
.breadcrumb-content {
  padding: 5px;
}
.imagen {
  display: flex;
  justify-content: center;
}
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen {
  width: 80%;
}
.imagen-producto {
  width: 100%;
  text-align: center;
  background-color: #76402e;
  border-radius: 20px 20px 0px 0px;
}
.form {
  width: 80%;
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 0px 0px 0px;
}
.capuccino {
  width: 100%;
}
h1 {
  font-size: 1.5em;
  margin-top: 10px;
}
.price {
  font-size: 20px;
  margin-bottom: 15px;
}
.promo-plus {
  font-size: 12px;
}
.tamaño-vaso {
  display: flex;
  margin-top: 10px;
}
.tamaño-cafe {
  margin-left: 10px;
}
.cant-unidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.cantidad-unidades {
  background: #fff;
  border: 1px solid black;
  padding: 5px;
}
.cantidad {
  width: 70px;
  border: none;
}
.unidades {
  display: flex;
  align-items: center;
}
.agregar-al-carrito {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px 0px;
}
.agregar-carrito {
  width: 95%;
  padding: 15px;
  cursor: pointer;
  background-color: #00b7ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.agregar-carrito:hover {
  background-color: #00b7ff97;
}
.container-buttons-detail {
  display: flex;
  justify-content: space-around;
}
.button-edit {
  width: 50%;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-Marron-Oscuro);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-edit:hover {
  opacity: 0.6;
}
.button-edit p {
  text-decoration: none;
  color: var(--color-Blanco);
  text-align: center;
  font-size: 15px;
}
.button-delete {
  width: 50%;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--color-Rojo-Claro);
  cursor: pointer;
  text-align: center;
}
.button-delete:hover {
  opacity: 0.6;
}
.button-delete form button {
  background: none;
  border: none;
  color: var(--color-Blanco);
  font-size: 15px;
  cursor: pointer;
}
.description-article p {
  margin-top: 10px;
  font-size: 11px;
  font-weight: lighter;
}
.container-descrip {
  display: flex;
  justify-content: center;
}
.description {
  width: 80%;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
}
@media (min-width: 460px) {
  /*! Tablets */
  .product-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    margin-top: 50px;
  }
  .imagen {
    width: 45%;
  }
  .imagen-producto {
    border-radius: 20px 0px 0px 0px;
  }
  .form {
    width: 45%;
    padding: 10px;
    background-color: #fff;
    border-radius: 0px 20px 0px 0px;
  }
  .container-descrip {
    width: 90%;
  }
  .description {
    width: 100%;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
  }
  .conteiner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagen-producto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .description-article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .description-article h3 {
    font-size: 24px;
  }
  h1 {
    font-size: 2em;
  }
  .promo-plus {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  /*! LAPTOP */
  .description-article p {
    font-size: 16px;
  }
  .product-detail {
    width: 100%;
  }
  .imagen {
    width: 300px;
  }
  .form {
    width: 300px;
  }
  .container-descrip {
    width: 600px;
  }
  .button-edit a {
    text-decoration: none;
    color: var(--color-Blanco);
    font-size: 20px;
  }
  .button-delete form button {
    background: none;
    border: none;
    color: var(--color-Blanco);
    font-size: 20px;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .imagen {
    width: 400px;
  }
  .form {
    width: 400px;
  }
  .container-descrip {
    width: 800px;
  }
}
