<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <!--! Cerrar buscador -->
      <div id="cover-ctn-search"></div>
      <!--! Campaña -->
      <section class="Container-Campaign">
        <article class="campaña">
          <h1>¡Conocé nuestras variedades!</h1>
          <a href="/productDetail" class="boton-descubrir">
            <p>¡Descubrír!</p>
          </a>
        </article>
        <article id="wave-effect">
          <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path
              d="M-7.77,66.63 C149.99,150.22 349.21,-50.06 514.81,77.49 L500.00,150.22 L0.00,150.22 Z"
            ></path>
          </svg>
        </article>
      </section>
      <!--! Destacados -->
      <section class="conteiner-featured">
        <article>
          <h2>DESTACADOS</h2>
        </article>
        <div class="products">
          <!--! Productos - CAFE -->
          <article class="product-content">
            <div class="details">
              <a class="image" href="/productDetail">
                <img src="img/product-coffee/1.png" alt="" />
              </a>
              <div class="product-descriptions">
                <span class="product-Name">Americano</span>
                <span class="product-Price">$ 1.000</span>
              </div>
              <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="product-buttons">
                <button class="product-buy">Comprar</button>
                <a class="product-info" href="/productDetail">Informacion</a>
              </div>
            </div>
          </article>
          <article class="product-content">
            <div class="details">
              <a class="image" href="/productDetail">
                <img src="img/product-coffee/2.png" alt="" />
              </a>
              <div class="product-descriptions">
                <span class="product-Name">Cappuccino</span>
                <span class="product-Price">$ 1.000</span>
              </div>
              <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="product-buttons">
                <button class="product-buy">Comprar</button>
                <a class="product-info" href="/productDetail">Informacion</a>
              </div>
            </div>
          </article>
          <article class="product-content">
            <div class="details">
              <a class="image" href="/productDetail">
                <img src="img/product-coffee/3.png" alt="" />
              </a>
              <div class="product-descriptions">
                <span class="product-Name">Skinny Vainilla Latte</span>
                <span class="product-Price">$ 1.000</span>
              </div>
              <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="product-buttons">
                <button class="product-buy">Comprar</button>
                <a class="product-info" href="/productDetail">Informacion</a>
              </div>
            </div>
          </article>
          <div class="products">
            <!--! Productos - Comida -->
            <article class="product-content">
              <div class="details">
                <a class="image" href="/productDetail">
                  <img src="img/product-food/1.png" alt="" />
                </a>
                <div class="product-descriptions">
                  <span class="product-Name"> Media luna Rellena </span>
                  <span class="product-Price">$ 1.000</span>
                </div>
                <div class="product-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="product-buttons">
                  <button class="product-buy">Comprar</button>
                  <a class="product-info" href="/productDetail">Informacion</a>
                </div>
              </div>
            </article>
            <article class="product-content">
              <div class="details">
                <a class="image" href="/productDetail">
                  <img src="img/product-food/2.png" alt="" />
                </a>
                <div class="product-descriptions">
                  <span class="product-Name">Croissant</span>
                  <span class="product-Price">$ 1.000</span>
                </div>
                <div class="product-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="product-buttons">
                  <button class="product-buy">Comprar</button>
                  <a class="product-info" href="/productDetail">Informacion</a>
                </div>
              </div>
            </article>
            <article class="product-content">
              <div class="details">
                <a class="image" href="/productDetail">
                  <img src="img/product-food/3.png" alt="" />
                </a>
                <div class="product-descriptions">
                  <span class="product-Name">Media luna de Chocolate</span>
                  <span class="product-Price">$ 1.000</span>
                </div>
                <div class="product-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="product-buttons">
                  <button class="product-buy">Comprar</button>
                  <a class="product-info" href="/productDetail">Informacion</a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
