<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="css/mantenimiento.css" />
    <link rel="stylesheet" href="../css/mantenimiento.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main id="main-error">
      <figure>
        <img src="/img/mantenimiento.png" alt="" />
      </figure>
      <article>
        <h1>Lo siento, la página web se encuentra en mantenimiento</h1>
      </article>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
