<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="css/error404.css" />
    <link rel="stylesheet" href="../css/error404.css" />
    <link rel="stylesheet" href="../../css/error404.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main id="main-error">
      <figure>
        <img src="/img/404-error.jpeg" alt="" />
      </figure>
      <a href="/">Volver al <span>Inicio</span></a>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
