.contenedor-edit {
  background-color: var(--BoxShadow-Checked);
  background-image: url(/img/bg-pattern-top.svg),
    url(/img/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
.cardEdit {
  background-color: var(--Secondary);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-headerEdit {
  width: 100%;
  height: 100px;
  display: block;
  object-fit: cover;
}
.new-img picture img {
  border-style: none;
}
.new-img {
  margin-top: calc(-60px);
}
.new-img {
  width: 100px;
  height: 100px;
}
.card-bodyEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--BoxShadow);
}
.card-body-nameEdit {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.card-body-emailEdit {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  overflow: auto;
}
.button-new-img {
  padding-top: 10px;
  padding-left: 0px;
}
.button-new-img label {
  width: 100%;
  border: none;
  height: 44px;
  margin-top: 8px;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.1s;
  box-shadow: 0 0 0 0.1rem var(--Secondary-Dark);
  text-align: center;
}
.button-new-img label:hover {
  background-color: var(--Primary);
  color: var(--Secondary);
}
.button-new-img label input {
  display: none;
  font-family: inherit;
  -webkit-appearance: none;
}
.card-body-textEdit {
  color: var(--Tertiary);
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.card-footerEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-footer-socialEdit {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-footer-socialEdit p {
  letter-spacing: 1px;
}
/* !Form */
.container-form-Edit {
  margin-top: 35px;
  width: 100%;
  text-align: center;
    background-color: var(--Secondary);
}
.user-img-validationEdit {
  pointer-events: none;
}
.container-button{
  display: flex;
  justify-content: center;
  max-width: 300px;
  padding: 0px 5px;
  margin: 20px auto;
}
@media (min-width: 460px) {
    .new-img {
        margin-top: calc(-100px - 5px);
    }
    .new-img {
        width: 200px;
        height: 200px;
    }
  .card-headerEdit {
    height: 150px;
  }
  .card-body-nameEdit {
    font-size: 1.6rem;
  }
  .card-body-emailEdit {
    font-size: 1rem;
    margin-top: 10px;
  }
  .card-footerEdit {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .card-footerEdit {
    justify-content: center;
  }
  .card-footer-socialEdit {
    padding: 0px 50px;
  }
}
@media (min-width: 1200px) {
  .card-headerEdit {
    height: 150px;
  }
  .contenedor-edit{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
  }
  .contenedor-edit .elem_2 {
    grid-column: 2/6;
  }
  .container-card-pcEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .card-body-nameEdit {
    margin: 5px;
  }
  .cardEdit {
    width: 700px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .form-style{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
