/* ! section contenedor- */
.contenedor-perfil{
  background-color: var(--BoxShadow-Checked);
  background-image: url(/img/bg-pattern-top.svg), url(/img/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
/* ! container-form */
.form-style {
  margin: 10px auto;
}

.container-form-passw {
 
  width: 100%;
  text-align: center;
  background-color: var(--Secondary);
  position: unset;
}
.passw-text {
  font-size: 20px;
  padding: 15px;
}
@media (min-width: 768px) {
  .form-style {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  /* ! container-form */
  .form-style {
    width: 90%;
  }
  .container-form-passw {
    max-width: 370px;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 20px 5px var(--BoxShadow);
  }
}
