/* ! container-form */
.container-form-login {
  margin-top: 35px;
  max-width: 370px;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 20px 5px var(--BoxShadow);
  border-bottom: 2px solid var(--Primary);
  background-color: var(--Secondary);
  position: unset;
}
