.contenedor-perfil{
    background-color: rgb(25, 162, 174);
    background-image: url(/img/bg-pattern-top.svg), url(/img/bg-pattern-bottom.svg);
    background-repeat: no-repeat no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
.card {
    background-color: white;
    width: 326px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.card-header {
    width: 100%;
    display: block;
}
img {
    border-style: none;
}
.card-body {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}
img {
    border-style: none;
}
.card-body-title {
    margin-top: 2rem;
    font-size: 1.8rem;
    text-transform: capitalize;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.card-body-title span {
    color: var(--dark-gray);
    font-weight: 400;
}
.card-body-text {
    color: var(--dark-gray);
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.card-footer {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.card-footer-social {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-footer-social p {
    letter-spacing: 1px;
}

/*! Article 2 @container-card */
/* 
.container-new-img{
    margin: 0;
    padding: 20px 0px;
}
.new-img picture{
    pointer-events: none;
}

.container-card .content{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.details {
    width: 100%;
    overflow-wrap: break-word;
    background-color: red;
}
.details .email{
    font-size: 0.8rem;
    padding: 10px 0px;
}
.details .data{
    display: flex;
    flex-direction: column;
}
.details .data{
    display: flex;
    flex-direction: column;
} */