@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
.contenedor-perfil {
  width: 100%;
  padding-top: 40px;
  font-family: "Roboto Mono", monospace;
}
.titulo-perfil {
  pointer-events: none;
  margin: 20px;
  border-bottom: 1px solid var(--color-Marron-Claro);
}
.titulo-perfil h2 {
  color: var(--color-Marron-Oscuro);
  text-align: center;
  font-size: 28px;
}
.formulario-perfil {
  display: block;
  width: 100%;
  margin-top: 40px;
}
/*! Imagen */
.contenedor-img-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-perfil {
  width: 100px;
  height: 100px;
}
.img-perfil picture {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid var(--color-Marron-Claro);
  border-radius: 50%;
  position: relative;
}
.img-perfil picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boton-nueva-img {
  padding: 10px;
  text-align: center;
  width: 100%;
}
.boton-nueva-img div {
  display: block;
}
.boton-nueva-img div label {
  background-color: var(--color-Marron-Claro);
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
}
.boton-nueva-img div label:hover {
  background-color: var(--color-Marron);
}
.boton-nueva-img div label p {
  color: var(--color-Blanco);
}
.boton-nueva-img div label input {
  display: none;
  font-family: inherit;
  -webkit-appearance: none;
}

/*! Input's */
.contenedor-input-perfil {
  margin-top: 40px;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.estilos-input {
  width: 90%;
  height: 130px;
  position: relative;
  margin: auto;
}
.estilos-input label {
  color: var(--color-Marron-Oscuro-2);
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
}
.estilos-input input {
  color: var(--color-Marron);
  width: 100%;
  border: 1px solid var(--color-Blanco-Gastado);
  height: 44px;
  margin-top: 8px;
  outline: none;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
}
.estilos-input input::placeholder {
  color: var(--color-Marron-Claro);
}
.estilos-input input:hover {
  color: var(--color-Marron-Oscuro-2);
  background-color: var(--color-Blanco-Oscuro-1);
  border: 2px solid var(--color-Blanco-Gastado);
}
.estilos-input button {
  color: var(--color-Blanco);
  width: 100%;
  border: none;
  background-color: var(--color-Marron-Claro);
  height: 44px;
  margin-top: 8px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.estilos-input button:hover {
  background-color: var(--color-Marron);
}
.contenedor-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.perfil-input-submit {
  width: 95%;
  display: inline-block;
  flex-direction: row;
  position: relative;
  vertical-align: top;
}
.perfil-input-submit input {
  font-family: "Roboto Mono", monospace;
  color: var(--color-Blanco);
  width: 100%;
  background-color: var(--color-Celeste-Claro);
  border: none;
  outline: none;
  padding: 12px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 30px;
}
.perfil-input-submit input:hover {
  background-color: var(--color-Celeste);
}
.perfil-cancelar {
  width: 95%;
}
.perfil-cancelar a {
  display: block;
  text-align: center;
  max-width: 100%;
  color: var(--color-Blanco);
  text-decoration: none;
  background-color: var(--color-Rojo-Super-Claro);
  padding: 12px;
  font-size: 20px;
  border-radius: 8px;
}
.perfil-cancelar a:hover {
  background-color: var(--color-Rojo-Claro);
}

/*! is invalid */
.errors-t {
  color: var(--color-Marron-Claro);
  font-family: initial;
  pointer-events: none;
  margin: 5px 0px 0px 5px;
}
.estilos-input .is-invalid {
  border: 2px solid var(--color-Marron-Claro-2);
  background-image: url(/img/exclamation-circle.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.575em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.estilos-input .is-invalid:focus {
  border-color: var(--color-Marron-Claro-2);
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

/*! is valid */
.estilos-input .is-valid {
  background-image: url(/img/check-circle.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.575em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.estilos-input .is-valid:focus {
  border: 2px solid var(--color-Celeste-Claro);
  box-shadow: 0 0 0 0.25rem rgb(66 201 255 / 25%);
}

@media (min-width: 460px) {
  .img-perfil {
    width: 150px;
    height: 150px;
  }

  .estilos-input {
    width: 400px;
  }

  .contenedor-botones {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .perfil-input-submit {
    width: 200px;
    padding: 10px;
  }

  .perfil-cancelar {
    width: 200px;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .img-perfil {
    width: 200px;
    height: 200px;
  }

  .estilos-input {
    width: 80%;
  }

  .perfil-input-submit {
    width: 300px;
  }

  .perfil-cancelar {
    width: 300px;
  }
  .contenedor-input-perfil {
    gap: unset;
    grid-template-columns: 1fr 1fr;
  }
  .perfil-input-submit input {
    margin-bottom: unset;
  }
  .estilos-input input {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .contenedor-input-perfil {
    gap: 10px;
    width: 800px;
  }

  .formulario-perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .estilos-input {
    width: 100%;
  }

  .contenedor-botones {
    justify-content: center;
  }
}
