/*! Main */
.contenedor-register {
  display: block;
  padding-bottom: 3rem;
  background-color: #ffe6d6;
  min-width: 270px;
}
/* !Contenedor de titulo boton y form */
.contenedor-titulo-form-boton {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
/* !contenedor form y boton */
.contenedor-form-boton {
  margin-top: 35px;
  max-width: 370px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
}

/*! form */
.form-register {
  margin: auto;
  width: 70%;
  max-width: 400px;
}
/*! campos del form */
.contenedor-campo {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
.campo {
  width: 85%;
  padding: 10px;
  border: none;
  font-size: 0.7rem;
  text-align: justify;
  outline: 0;
}
.campo-label {
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: #ad715c;
}
/*! contenedor icono campo */
.caja-icono-campo {
  background-color: white;
  border: solid 1px black;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*! iconos */
.icono-email,
.icono-user,
.icono-passwd {
  font-size: 0.8rem;
  font-weight: 600;
  align-self: center;
}
/*! botón */
.contenedor-boton-registrar {
  display: flex;
  justify-content: center;
}

.button-registrar {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #00b7ff;
  color: white;
  max-width: 320px;
}
/*! boton tengo cuenta*/
.contenedor-redirect {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 85%;
}
.register-text {
  text-align: center;
  color: #76402e;
  font-size: 2rem;
  padding: 20px;
}
.redirect-login {
  padding: 0.8rem 1.5rem;
  border: solid 1px black;
  border-radius: 2px;
  background-color: #000;
  color: white;
}
/*! titulo h1 y su contenedor */
.contenedor-titulo-register {
  display: none;
  justify-content: center;
  margin-top: 15px;
  padding: 20px;
}
.contenedor-titulo-register h1 {
  text-align: center;
  color: #76402e;
  font-size: 2.5rem;
}
/*! vinculos */
.vinculos-register {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px;
}
.politicas {
  font-size: 1rem;
  color: #00b7ff;
}
a {
  text-decoration: none;
}

@media (min-width: 768px) {
  /* !laptops */
  .contenedor-titulo-form-boton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-titulo-register {
    display: flex;
  }
}
