@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
/* ! Header */
.Favorite a {
  color: var(--color-Negro-1);
}
.Config button {
  color: var(--color-Negro-1);
}
.nav ul li a {
  color: var(--color-Negro-1);
}
/*! Main */
.contenedor-register {
  display: block;
  padding-bottom: 3rem;
  background-color: #ffe6d6;
  width: 100%;
}
/* !Contenedor de titulo boton y form */
.contenedor-titulo-form-boton {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
/* !contenedor form y boton */
.contenedor-form-boton {
  margin-top: 35px;
  max-width: 370px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

/*! form */
.form-register {
  margin: auto;
  width: 90%;
  text-align: start;
}
/*! campos del form */
.contenedor-campo {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
.campo {
  width: 85%;
  padding: 10px;
  border: none;
  font-size: 1rem;
  text-align: justify;
  outline: 0;
}
.campo-label {
  font-size: 1rem;
  padding-bottom: 5px;
  color: #ad715c;
}
/* ! texto error bajo el campo */
.text-danger {
  color: red;
}
/*! contenedor icono campo */
.caja-icono-campo {
  background-color: white;
  border: solid 1px black;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*! iconos */
.icono-email,
.icono-user,
.icono-passwd {
  font-size: 0.8rem;
  font-weight: 600;
  align-self: center;
}
/*! botón */
.contenedor-boton-registrar {
  display: flex;
  justify-content: center;
}

.button-registrar {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  background-color: #00b7ff;
  color: white;
  max-width: 150px;
  font-size: 1.2rem;
  cursor: pointer;
}
/*! boton tengo cuenta*/
.contenedor-redirect {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 85%;
}
.register-text {
  text-align: center;
  color: #76402e;
  font-size: 1.5rem;
  padding: 20px;
}
.redirect-login {
  padding: 0.8rem 1.5rem;
  border: solid 1px black;
  border-radius: 2px;
  background-color: #000;
  color: white;
}
.redirect-login a {
  color: white;
}
/*! titulo h1 y su contenedor */
.contenedor-titulo-register {
  display: none;
  justify-content: center;
  margin-top: 15px;
  padding: 20px;
}
.contenedor-titulo-register h1 {
  text-align: center;
  color: #76402e;
  font-size: 2.5rem;
}
/*! vinculos */
.vinculos-register {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px;
}
.politicas {
  font-size: 1rem;
  color: #00b7ff;
}
a {
  text-decoration: none;
}
.contenedor-campo .is-invalid {
  border: 2px solid var(--color-Rojo-Super-Claro);
}
@media (min-width: 460px) {
  /*! Tablets */
  .register-text {
    font-size: 2rem;
  }
  .button-registrar {
    max-width: 250px;
    font-size: 1.4rem;
  }
  .contenedor-titulo-form-boton {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) {
  /* !laptops */
  .contenedor-titulo-form-boton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-titulo-register {
    display: flex;
  }
  .contenedor-form-boton {
    max-width: 420px;
  }
  .contenedor-titulo-form-boton {
    padding: 10px 20px;
  }
}
