@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
/* ! Header */
.Favorite a {
  color: var(--color-Negro-1);
}
.Config button {
  color: var(--color-Negro-1);
}
.nav ul li a {
  color: var(--color-Negro-1);
}

/* !contenedor form */
.container-form-register {
  margin-top: 35px;
  max-width: 370px;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 20px 5px var(--BoxShadow);
  border-bottom: 2px solid var(--Primary);
  background-color: var(--Secondary);
}
.user-img-validation{
  pointer-events: none;
}
.area{
  height: 1400px;
}
@media (min-width: 460px) {
  /*! Tablets */
  .container-form-register {
    max-width: 90%;
  }
  .area{
    height: 1200px;
  }
}

@media (min-width: 768px) {
  /* !laptops */
  .form-style{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .contenedor-campo{
    width: unset;
    padding: 0;
  }
  .container-button-dark{
    margin-top: 20px;
  }
  .area{
    height: 1000px;
  }
}
@media (min-width: 1200px) {
  .container-form-register {
    max-width: 900px;
  }
  .user-img-validation{
    padding-top: 6px;
  }
}
