@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");
/*   font-family: "Noto Sans", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/*   font-family: "Raleway", sans-serif; */
/* ! Header */
.Favorite a {
  color: var(--Primary-Dark);
}
.Config button {
  color: var(--Primary-Dark);
}
.nav ul li a {
  color: var(--Primary-Dark);
}
/* ! */
main {
  background-color: var(--Secondary-Dark);
  padding-bottom: 0px;
}
.contenedor-perfil {
  width: 100%;
}

/*! Article 1 */
.elem_1 {
  background-color: var(--Secondary);
}
.Container-Config {
  background-color: var(--Secondary);
}
.content-button {
  color: var(--Primary-Dark);
  background-color: var(--Secondary);
  border: none;
  box-shadow: 0px 1px 5px -2px var(--Primary-Dark);
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 20px 10px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.content-button:hover {
  background: var(--Primary);
  color: var(--Secondary);
}
.content-button p {
  font-weight: bold;
  padding-left: 5px;
}
.arrow .list_arrow {
  transition: 0.4s;
  transform: rotate(180deg);
}
.list_arrow {
  margin-left: auto;
  transition: transform 0.3s;
}
.list_show {
  width: 100%;
  margin-left: auto;
  border-left: 2px solid var(--Primary-Dark);
  overflow: hidden;
  transition: height 0.4s;
  height: 0px;
}
.list_height{
  height: 188px;
}
.nav_link {
  color: var(--Primary-Dark);
  background-color: var(--Secondary);
  display: block;
  padding: 15px 0;
  transition: 0.4s;
  font-size: 12px;
}
.select-url {
  background: var(--Primary-Dark);
  color: var(--Secondary);
}
.select-url:hover {
  background: var(--Primary-Dark);
  color: var(--Secondary-Dark);
}
.nav_link--inside {
  padding-left: 20px;
  text-align: left;
}
.nav_link--inside:hover {
  background: var(--Primary-Dark);
  color: var(--Secondary-Dark);
}

@media (min-width: 460px) {
  /*! Article 1 */
  .content-button {
    padding: 20px 20px;
    font-size: 18px;
  }
  .nav_link {
    font-size: 16px;
  }
  .list_height{
    height: 208px;
  }

  /*! Article 2 */
}

@media (min-width: 768px) {
  /*! Article 1 */
  .content-button {
    font-size: 22px;
  }
  .nav_link {
    font-size: 18px;
  }
  .list_height{
    height: 218px;
  }
}

@media (min-width: 1200px) {
  .contenedor-perfil {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
  }
  /*! Article 1 */
  .contenedor-perfil .elem_1 {
    border-right: 2px solid var(--Primary-Dark);
    grid-column: 1/1;
  }
  .content-button {
    pointer-events: none;
  }
  .content-button i {
    display: none;
  }
  .content-button p {
    font-size: 32px;
  }
  .content-button:hover {
    background: unset;
    color: unset;
  }
  .list_show {
    height: 300px;
    border: none;
  }
  .list_height{
    height: 300px;
  }
  .nav_link--inside {
    border-radius: 10px;
    margin: 10px;
    width: auto;
  }
  .nav_link--inside:hover {
    background: var(--Primary-Dark);
    color: var(--Secondary);
  }
  /*! Article 2 */
  .contenedor-perfil .elem_2 {
    grid-column: 2/6;
  }
}
